* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;

    --gray-100: #e1e1e6;
    --gray-300: #a8a8b3;
    --gray-800: #29292e;
    --gray-900: #121214;

    --cyan-500: #61dafb;
    --yellow-500: #eba417;
}

body {
    background: var(--gray-900);
    color: var(--white);
}

body,
input,
textarea,
button,
select {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}
